HELP.md
# Ігноруємо все у target, крім JAR
target/
!target/*.jar

# Для підпроєктів Maven/Gradle
!**/src/main/**/target/
!**/src/test/**/target/
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
